@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $green;
  background: $yellow;
  max-width: 900px;
  margin: auto;
  min-height: 100vh;
  font-family: "Zilla Slab", serif;
}

.main {
  padding: 32px;
  @include center;
}

.form {
  @include center;
}

.submit {
  min-width: 150px;
  background: $green;
  color: $yellow;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  padding: 16px;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    //outline: 2px solid black;
    //outline-offset: -1px;
    transform: scale(1.05);
  }
  &:active {
    background: $lightgreen;
    outline: none;
    transform: scale(0.95);
  }
  &:focus {
    outline: none;
  }
}

.label {

  font-size: 1.2rem;
}

.list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  list-style-type: none;
  padding: 16px;
  &__item {
    flex: 1;
    font-size: 1.2rem;
    background: $darkyellow;
    min-width: 200px;
    padding: 8px 16px;
    margin: 16px;
    border-radius: 3px;
  }
  &__link {
    text-decoration: none;
    font-weight: 700;
    color: $green;
    &:visited {
      color: $lightgreen;
    }
    &:hover {
      color: $lightyellow;
    }
  }
}

.username {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  border: none;
  margin: 16px 0;
  border-radius: 3px;
}

// @supports (display: grid) {
//   .list {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//   }
// }
